<h1>Bienvenue sur votre centre de conciergerie</h1>
<h2><%= link_to "Vous êtes concierge?", (concierge_url)%> </h2>
<h2>Vous représentez un hôtel?</h2>
<h2>Vous êtes un agent de voyage?</h2>
<h2>Vous êtes un voyageur?</h2>
