<% @restaurants.each do | restaurant | %>
  <p><%= restaurant.city %>
    - <%= link_to restaurant.restaurant_name, restaurant %>
    - <%= link_to "Réserver", new_restaurant_booking_path(restaurant) %>
  </p>
<% end %>
